* {
  margin: 0;
  padding: 0;
}

form {
  width: 300px;
}

input {
  width: 100%
}

textarea {
  resize: vertical;
  max-height: 100px;
}

input, textarea {
  outline: none;
  border: 1px solid red;
}


input:focus, textarea:focus {
  box-shadow: 0 0 4px blue;
  border: 1px solid white;
}

::placeholder {
  color: red;
  opacity: 1;

}
